*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    color: aliceblue;
}
.navbar{
    background-color:whitesmoke;
}
.navbar-nav{
    display: flex;
    gap :20px;
    justify-content: flex-end;
}

.my-container{
    width: 100%;
    height: 100%;
    background-image: url("https://img.freepik.com/free-photo/social-media-background-facebook_135149-67.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
}
.card{
    width: 250px;
    height: 280px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}
h2{
    color:aliceblue;
}
.profilepic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
}
.btn{
    margin-top: 10px;
    padding: 8px 15px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
h5{
    color: red;
}
#a{
    background-image: url("https://hindustantimes.com/static-content/1y/cricket-logos/players/virat-kohli.png");
    background-size: cover;
}
#b{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8bHxuAN8lbGYNlpQAosMzNTRUe2Sz1or8uQ&s");
    background-size: cover;
}
#c{
    background-image: url("https://img.jagranjosh.com/imported/images/E/GK/sachin-records.png");
    background-size: cover;
}
#d{
    background-image: url("https://cdn.thecricketpanda.com/wp-content/uploads/2024/09/Shubman-Gill.jpg");
    background-size: cover;
}
#e{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFJRIEaDxzMUJyUjoYC7f5yaCpnkeKfgRxoQ&s");
    background-size: cover;
}
#f{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8bHxuAN8lbGYNlpQAosMzNTRUe2Sz1or8uQ&s");
    background-size: cover;
}
#g{
    background-image: url("https://drop.ndtv.com/albums/SPORTS/rishabh-pant-s-_638864654454546997/638864654454546997_640x480.jpeg?output-quality=80&downsize=522:*");
    background-size: cover;
}
#h{
    background-image: url("https://www.asksportsinfo.com/wp-content/uploads/2024/11/hardik-pandiya-india-cricket-player.webp");
    background-size: cover;
}

/* navbar */
.my-navbar {
    background-color: rgb(230, 245, 255) !important;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.my-navbar .navbar-brand {
    color: darkblue ;
    font-size: 28px;
    font-weight: bold;
}

.my-navbar .nav-link {
    color: #333 ;
    font-weight: 600;
    transition: 0.3s;
}

.my-navbar .nav-link:hover {
    color: blue ;
    text-decoration: underline;
}

.my-navbar .nav-link.active {
    color: darkblue ;
}

.my-navbar .nav-link.disabled {
    color: gray ;
}
.btn:hover {
    background-color: #004cff;
    box-shadow: 0px 0px 10px rgba(0, 140, 255, 0.9);
    transform: scale(1.05);
    transition: 0.3s;
}

